{{!-- SETUP TO HAVE THE TERMPLATE THAT HANDLEBARS CAN RENDER ONTO --}}
{{!-- CREATE A BUTTON THAT WILL SUBMIT THE USER INPUT INTO THE DATABASE --}}

<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="text-align: center">
            <h1>Eat-Da-Burger</h1>
            <div class="col-12">
                <div class="text-center">
                    <img src="/assets/img/burger.png" class="rounded" style="height: 200px; width: 200px"
                        alt="burger picture" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center">
                this is where the burgers will get populated at
            </h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div style="text-align: center">
                <form action="#">
                    <textarea type="text-area" id="burgerName" rows="8" cols="60" style="text-align: center">
Enter name of burger here</textarea>
                    <br />
                    <input id="submitBtn" type="submit" value="Submit" />
                </form>
            </div>
            <p style="text-align: center">
                Press submit, to create the new burger!
            </p>
        </div>
    </div>
</div>