body {
  background-color: indianred;
}

.eatBurger {
  color: whitesmoke;
}

.burgersList {
  outline-color: rgb(0, 7, 109);
  outline-style: inset;
  background-color: rgb(247, 255, 218);
  padding-top: 2px;
  padding-bottom: 2px;
}

button:hover {
  background-color: rgb(255, 0, 0);
}

button {
  background-color: yellow;
}

h3 {
  color: whitesmoke;
}

#burgerName {
  outline-color: rgb(0, 7, 109);
  outline-style: inset;
}

input:hover {
  background-color: rgb(255, 0, 0);
}

input {
  background-color: yellow;
}

p {
  color: whitesmoke;
}
