<li>
    {{burger_name}}
    {{#if devour}} <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}"> Devour
        Me!!!!</button> {{else}} <strong style="color: rgb(0, 68, 255);"> YUM!</strong>{{/if}}
</li>